{% extends "layout.html" %}
{% block body %}

<!-- TODO: style with boostrap -->
<h2>The current conditions: </h2>

<!-- example of FontAwesome icon -->
<i class="far fa-sun fa-5x" style="color: orange"></i>
<i class="fas fa-cloud fa-5x" style="color: gray"></i>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Place</th>
      <th scope="col">Temperature</th>
      <th scope="col">Humidity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Indoor</th>
      <td id="indoor_temp">??</td>
      <td id="indoor_humidity">??</td>
    </tr>
    <tr>
      <th scope="row">Outdoor</th>
      <td id="outdoor_temp">??</td>
      <td id="outdoor_humidity">??</td>
    </tr>
  </tbody>
</table>

<!-- see https://canvas-gauges.com/documentation/examples/ -->
<canvas
  id="temp_gauge"
  data-type="linear-gauge"
  data-min-value="0"
  data-max-value="100"
  data-width="100"
  data-animation-rule="elastic"
  data-animation-duration="500"
  ></canvas>


<h2>Send a cheep</h2>
<!-- TODO: add form with a name and message field:
     on submit POST the data to /cheep -->

<form action="/cheep" method="post">
  <input type="text" name="name"></input>
  <input type="text" name="message"></input>
  <button type="submit">Cheep!</button>
</form>
{% endblock %}
